@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XYZ Company - Laundry Management System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Custom style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/style.css">
</head>
<body id="signin_main" class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>XYZ LAUNDRY</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="form-main">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input asp-for="Email" type="text" placeholder="Email" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input asp-for="Password" placeholder="Password" class="form-control" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer pt-3 pl-3 pr-3 pb-0">
                        <div class="d-flex flex-row justify-content-between">
                            <div>
                                <i class="fa fa-unlock-alt"></i>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </div>
                            <div>
                                <i class="fa fa-check"></i>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/admin-lte/dist/js/adminlte.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>