@model RegisterViewModel
@inject XYZLaundry.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Register";
    Layout = "";
    var user = await _userManager.GetUserAsync(User);
    ViewData["FullName"] = $"{user.FirstName} {user.LastName}";
    var userRole = (await _userManager.GetRolesAsync(user)).FirstOrDefault();
    ViewData["IsAdmin"] = userRole.ToLower().Equals("super admin") ? true : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>XYZ Company - Laundry Management System</title>

    @await Html.PartialAsync("_BaseStyles")

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar And Menu-->
        @await Html.PartialAsync("_BaseNavMenu")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="form-main">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input asp-for="FirstName" type="text" placeholder="First name" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-user"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input asp-for="LastName" placeholder="Last name" class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-user"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input asp-for="Email" placeholder="Email" class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-envelope"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input asp-for="Password" placeholder="Password" class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input asp-for="ConfirmPassword" placeholder="Retype password" class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-lock"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-12">
                                            <a asp-action="Login" class="btn btn-secondary btn-block">Login</a>
                                        </div>
                                    </div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/. container-fluid -->
            </section>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="#">XYZ Laundry Management System</a>.</strong>
            All Rights Reserved.
        </footer>
    </div>


    @await Html.PartialAsync("_BaseScripts")
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}